.right-side{
    /* width: 70%; */
   /* padding-left: 1rem; */
   width: 33.5%; /* Equivalent to 600px */
    margin: 0 auto;
    padding: 1.25rem; /* Equivalent to 20px */
    border: 0.0625rem solid #ccc; /* Equivalent to 1px */
    border-radius: 0.3125rem; /* Equivalent to 5px */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1)
}