.shopkeeper-form-name {
    text-align: center;
    font-size: 2rem;
    width: 50vw;
    font-weight: 600;
    margin: 1rem auto;
    color: var(--secondary-color);
}

.shopkeeper-form {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.shopkeeper-form .form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 1rem;
}

.shopkeeper-form .analysis-btn{
    padding: 1rem 2rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    border: none;
    border-radius: 0.9rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1rem;
}

.shopkeeper-form .form-element label{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.shopkeeper-form .form-element select,
.shopkeeper-form .form-element input{
    width: 40%;
    font-size: 1rem;
    color: var(--primary-color);
    padding: 0.5rem;
}

.shopkeeper-form .form-element input{
    width:38%;
    padding: 0.5rem 0.2rem;
}

.shopkeeper-form .analysis-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    transition: all 0.5s;
}