.full-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    
}

.form-name{
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.form-tags{
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.inpt-label{
    background-color: var(--background-color);
    margin-bottom: 1.5rem;
    border-style: none;
    height:2.5rem;
    border-radius: 0.4rem;
    padding-left: 0.4rem;
}


.l-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-style: none;
    border-radius:0.4rem ;
    width: 25rem;
    height: 2.5rem;
}

.l-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    transition: all 0.5s;
}

.forget-label{
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.page-name{
    font-size: 2.4rem;
}